 <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
 </style>


<div class="container">
	
	<div class="landing-unit marketing">
		<ul class="media-list">
		  
		    <div class="media-body">
		      <center><p><font size="6">Create an account to use MySaleTable</font></p><br>
			<p class="muted">Sign in with</p></center>
			<br>
			<center><ul class="buttons">
				<li style="list-style-type: none;" >
				<a class="facebook BigButton" href="#"><span class="logo-fb"></span>Facebook</a></li><br>
				</ul></center>
			<br><br>
      <center><p>Sign in with <a href="<%= new_user_url %>"><u>your email</u></a>.</center>
		     
		     </div>
		    </div>
		  
			<div>
			</div>
    </div>


		    </div> <!-- /container -->
