<style>
body {
  padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>


<div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span4">
        <div class="signup-unit">
          <center><p><font size="6">Congratulations!</font></p> 
				<p><font size="5">We're holding your item and are awaiting confirmation from the merchant. Your credit card will be charged once the sale is confirmed.</font></p>
            <a href="<%= root_url %>"><button class="btn-large btn-success">Back to Shopping</button></a></center>
          
        </div><!--end marketing -->		
      </div><!--end container -->
    </div>
  </div>
</div>
<br>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br>

