<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>


<div class="container">
  <div class="marketing">

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Order Number</th>
          <th>Date Purchased</th>
          <th>
                                Total
                              </th>
        </tr>
      </thead>
      <tbody>
      <% @purchases.each do |purchase| %>
        <tr>
        <td>
          <!-- <a href="#shippingModal" data-toggle="modal"> -->
            <%= purchase.id %>
          <!-- </a> -->
        </td>
        <td>
          <%= purchase.created_at.strftime("%d %b %Y") %>
        </td>
        <td>
                         <%= humanized_money_with_symbol purchase.total %>
                       </td>
      </tr>
    <% end %>
      </tbody>
    </table>

    
    
    <br><br><br><br><br><br><br><br><br><br>

  </div>
</div>
 <br><br><br><br><br><br><br><br>