<style>
body {
  padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

<div class="container">
  <div class="marketing">
    <div class="row-fluid">
      <div class="span4">
        <div class="signup-unit">

          <% if flash[:message] %>
          <div class="alert alert-error"> 
            <center>
              <%= flash[:message] %>
            </center>
          </div>
          <% end %>

          <%= render :partial => 'purchases/form' %>
              
          </div><!--end marketing -->		
        </div><!--end container -->
      </div><!--end row-fluid -->
    </div>
  </div>
</div>
</div>
<br><br>
