<style>
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<div class="container">
	      <div class="row-fluid">
	        <div class="span3">
		<div class="marketing">
	          <div class="well sidebar-nav">
	            <ul class="nav nav-list">
	              <li class="nav-header">Helpful Stuff</li>
            <li><a href="/page/about">About</a></li>
            <li><a href="/page/authenticity">Authenticity</a></li>
             <li><a href="/page/help%20">Help</a></li>
						<li><a href="/contact">Consignment</a></li>
            <li><a href="http://valydation.tumblr.com/">Blog</a></li>
              <li><a href="/page/jobs">Jobs</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
            <li class="nav-header">Legal Stuff</li>
            <li><a href="/page/privacy">Privacy Policy</a></li>
            <li><a href="/page/tos">Terms of Service</a></li>
	              
	            </ul>
	          </div><!--/.well -->
	        </div><!--/span-->
	</div><!-- end marketing -->
<div class="container">
  <div class="span2"></div>
  <div class="span8">
<div class="contact-margin what-we-do">
  <h3>Contact</h3><br>
  <p class="about-us-text">Send us a message</p>
  <%= form_tag(contact_url, :method => "post") do |f| %>
  <fieldset>

    <label>Your Name *</label>
    <input name="name" type="text" placeholder="Type here">
  </fieldset>
  <fieldset>

    <label>Email *</label>
    <input name="email" type="text" placeholder="Type something">
  </fieldset>
  <fieldset>

    <label>Subject *</label>
    <input name="subject" type="text" placeholder="Type something">
  </fieldset>
  <label>Message *</label>
  <textarea name="message" rows="8" class="span9"></textarea><br><br>
  <button type="submit" class="btn btn-large btn-success">Submit</button><br>
* Indicates a required field
<% end %>
</div>
</div>
</div></div></div>
<br><br><br>

