   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

<div class="container">
		<div class="marketing">
			<div class="signup-unit">
				  <fieldset>
				    <legend>Create a Merchant Account </legend>
				<span class="inline-help">&#160;Retail Type&#160;</span>
					<select class="retail-type">
						  <option>Choose a retail category</option>
						  <option>Wardrobe</option>
						  <option>Home</option>
						  <option>Kitchen</option>
						  <option>Gift</option>
						  <option>Pet</option>
						</select>
						<hr>
            <span class="inline-help">&#160;Contact Name</span><br/>
						  <input type="text" class="input-medium" placeholder="First Name">
						  <input type="password" class="input-medium" placeholder="Last Name"><br>
				<hr>
				<span class="inline-help">&#160;Email Address</span><br>
			<input type="email" class="input-medium" placeholder="Email"><br><hr>
			<span class="inline-help">&#160;Password</span><br>
			<input type="password" class="input-medium" placeholder="Password"><br>
      <hr>
			<span class="inline-help">&#160;Confirm Password</span><br>
			<input type="password" class="input-medium" placeholder="Confirm Password"><br>
      <br><br>
      			
			  <fieldset>
			    <legend>Profile (shown publicly)</legend>
			</fieldset>
			<span class="inline-help">&#160;Business Name</span><br>
			    <input type="text" class="input-medium"><br>
          <hr>
				Your custom URL<br>
				<div class="input-prepend">
				  <span class="add-on">http://www.mysaletable.com/</span>
				  <input class="span2" id="prependedInput" type="text" placeholder="Custom">
        </div><hr>
				

        <span class="inline-help">&#160;Profile Photo</span><br/>
        

			<img data-src="holder.js/260x180" alt="" style="width: 260px; height: 180px;" ><br><br>
			<a class="btn" href="">Upload Profile Image</a>
      <hr>
			
			<span class="bio">About</span><br>
		<textarea data-provide="limit" data-counter="#counter" placeholder="Enter text (150 character limit)"rows="3"></textarea><br>
		<hr>
		

	<span class="inline-help">&#160;Website</span> <br>
	<input type="text" class="input-large" placeholder="ex: yourwebsite.com">
	<button type="submit" class="btn btn-success pull-right">Create Account</button>
	<br>
	
	
	  
	  
	

	
	 </div><!--end marketing -->		
	</div><!--end container -->
	</div><!--end row-fluid -->
	</div>
	</div>

