/*!
 *Use for image styling
 */

.btn-price {
	padding-left: -1px;
	padding-right: 2px;
	
	
}




.size {
	float: right;
	
	
}

.percent {
	position: absolute;
	margin-top: 30px;
	
	
	
}
.sale-price {
	
	text-indent: 80px;
	margin-top: 30px;
	
	
}
.orig-price {
	postion: absolute;
	border-bottom: 40px;
	
	
}

.landing-signin {
	border: 1px solid #dddddd;
	  border-collapse: separate;
	  *border-collapse: collapse;
	  border-left: 0;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	border-left: 1px solid #dddddd;
}

.category-feed {
	margin-bottom: 16px;
	    margin-top: 24px;
	font-size: 14px !important;
	color: #432060 !important;
	position:relative; 
	text-align:center;
	
}

.category-feed-align {
	display:block;
	margin:0 auto;
}

.purchase {
	padding-bottom: -10px;
}

.product-image {
	padding-bottom: 5px;
}

.hover-group .image-wrapper {
  /* We need this to make the .hover-toggle div relative to .image-wrapper */
	position: relative;
	box-shadow: 0 0 6px 0px #aaa;
	border-radius: 4px;
}
.hover-group .image-wrapper:hover {
  border:2px solid #bdbdbd;
  width: 98%;
}
.hover-group .image-wrapper .hover-toggle {
  /* set it at the bottom of .image-wrapper */
  /* and don't display it */
  display: block;
  background-color: #432060;
  height: 38px;
  width: 100%;
  text-align:justify;
  margin:0px;
  border-radius:0 0 4px 4px;
}

.hover-group:hover .image-wrapper .hover-toggle {
  display: block;
}


.frame {
	background-color: #F5F5F5;
	padding: 10px;
}

.product-pic:hover {
	//outline:#432060 dotted 2px;
	
}


.modal-image {
	height: 400px;
	width: 299px;
}

.invite {
	margin-top: 4px;
	float: right;
}

.faq-nav {
	padding-top: 40px;
}

.marketing-mine {
	padding-top: 40px;
}

.contact {
	color: #7d7d7d;
}

.Badges {
	border: dotted !important;
}



.city {
	
	float: right;
}

.signup-unit {
  padding: 60px;
  padding-top: -10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: dotted;
  width: 700px;
  margin-left: 65px;
}


.bio {
	vertical-align: top;
	
}

.profile-upload {
	float: left;
}

.zip {
	position: relative !important;
	bottom: 70px !important;
	padding-left: 725px !important;
}

.photo-tips {
	border: 1px solid;
}

.price-info {
	
}

.store-info {
	
}

/* Main marketing message and sign up button */
      .jumbotron {
        margin: 30px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
        margin-bottom: -20px;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

.landing-unit {
	
	  padding: 40px;
	  padding-top: -10px;
	  margin-bottom: 30px;
	  font-size: 18px;
	  font-weight: 200;
	  line-height: 30px;
	  color: inherit;
	  background-image: url('/assets/az_subtle.png') !important;
	  -webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
	  border: transparent;
	
}

span.stretch {
    display:inline-block;
    transform:scale(2,1); /* W3C */
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
}

.thisInfo {
	text-align: center;
	line-height: 10px !important;
}

.lanvin {
	font-weight: bold;
	line-height: 20px !important;
	display: block;
	width: 100%;
	margin: 0px;
	padding: 5px 0;
	bordr-radius: 4px 4px 0 0 !important;
	font-size: 15px;
	font-family: Helvetica, arial, sans-serif;
	letter-spacing: 1px;
	color: #666;
}

.percentoff {
	color: white;
    vertical-align: sub;
    padding-top: 10px;
    line-height: 40px !important;
   
}

.our-story {

}

.photo-tips {
	vertical-align: top;
}

.hey {
	vertical-align: bottom;
}

.facebook {
	background: #415EA3;
	background: -webkit-gradient(linear, left top, left bottom, from(#415EA3), to(#2E4A88));
	background: -moz-linear-gradient(top, #415EA3, #2E4A88);
	background: -o-linear-gradient(top, #415EA3, #2E4A88);
	background: -webkit-linear-gradient(top, #415EA3, #2E4A88);
	background: linear-gradient(top, #415EA3, #2E4A88);
	border: 1px solid #09164A;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#415ea3', endColorstr='#2f4a89');
	text-shadow: 0 -1px #28417A;
	
}



.logo-fb {
background-color: #5F75A9;
background-color: rgba(255, 255, 255, .2);
background-image: url('/assets/logo_fb.png');
}

.facebook .logo-fb {
background-position: center center;
background-repeat: no-repeat;
bottom: 0;
left: 0;
position: absolute;
top: 0;
width: 62px;
}

#signup .facebook {
text-shadow: 0 -1px #28417A;
}

.twitter {
background: #41C0F3;
background: -webkit-gradient(linear, left top, left bottom, from(#41C0F3), to(#3FBAEC));
background: -moz-linear-gradient(top, #41C0F3, #3FBAEC);
background: -o-linear-gradient(top, #41C0F3, #3FBAEC);
background: -webkit-linear-gradient(top, #41C0F3, #3FBAEC);
background: linear-gradient(top, #41C0F3, #3FBAEC);
border: 1px solid #2982A8;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41c0f3', endColorstr='#3fbaec');
text-shadow: 0 -1px #2982A8;
}

.BigButton {
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
box-shadow: inset 0 1px rgba(255, 255, 255, .5), 0 2px white;
color: white;
display: inline-block;
font-size: 30px;
font-weight: bold;
line-height: 1;
min-width: 160px;
padding: 20px 10px 20px 87px;
position: relative;
text-align: left;
}

.logo-twitter {
background-color: #66CAF2;
background-color: rgba(255, 255, 255, .2);
background-image: url('/assets/logo_twitter.png');
}

.BigButton .logo-twitter {
background-position: center center;
background-repeat: no-repeat;
bottom: 0;
left: 0;
position: absolute;
top: 0;
width: 62px;
}

.modal-social {
	padding-left: 49px;
	padding-bottom: 5px;
}

.photo-upload {
	padding-left: 100px;
}

.size-chart {
	margin-left: 365px !important;
}

.size-btn {
	margin-left: 452px !important;
}

.modal-brand {
	margin-bottom: -40px;
}

.time {
	margin-bottom: 0px !important;
}

.follow {
	margin-right: -10px;
	margin-left: 0px;
}

.time-banner .image-banner {
  /* We need this to make the .hover-toggle div relative to .image-wrapper */
  position: relative;
}

.time-banner .image-banner .banner-toggle {
  /* set it at the bottom of .image-wrapper */
  position: absolute;      
  top: -125px;
  left: 0px;
  /* and don't display it */
  display: none;
  background-color: rgba(102, 102, 102, .8);
  height: 38px;
  width: 100%;
  text-align:justify;

}

.time-banner:hover .image-banner .banner-toggle {
  display: block;
}

.retail-type {
	width: 220px !important;
}


.member-login {
	position: absolute;
	margin-left: 1000px;
	padding-top: 30px;
	
	
}

.fourzerofour {
	font-size: 88px !important;
	text-align: center;
	color: #432060 !important;
}

.contact-info {
	padding-right: 120px;
}

#logo-wrapper {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
}
#logo-wrapper img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}

.landing-logo {
	position:absolute;
	
	padding-top: 60px;
	padding-left:40px;

}

.landing-text {
	text-shadow: black 0.1em 0.1em 0.6em;
}

.follow-page {
	right:400px;
	position: relative;
	top: -22px;
	
}

.hey {
	padding-left: 80px;
	vertical-align: -6px;
}

.postbtn {
	margin-left: 480px;
}

.fave {
	vertical-align: 10px;
}

.comment-box {
	padding-bottom: -10px;
	margin-top: 5px;
}

.pwd {
	vertical-align:0px !important;
}

.url {
	vertical-align: 1px;
}

.storedec {
	text-decoration: none !important;
	padding-left: 440px;
}

.expiration {
	width: 80px !important;
}

.shipping {
	padding-left: 365px !important;
}

.iphone-page {
	padding-left: 20px !important;
}
.iphone-button {
	padding-left: 38px;
}
.iphone-logo {
	padding-left:5px;
}

.separate {
	left: 720px !important;
	position: absolute;
}

.table-width {
	width:76px;
	display: inline-table !important;
}

.filter-section {
	display:none;
	height:20px; 
	width:100%; 
	margin:15px 0 0; 
	padding:10px 0 0; 
	border-top:1px 
	solid #bdbdbd;
}

.faves-script {
	position:absolute; 
	top:20px; 
	right:20px;
}

.filter-button {
	cursor:pointer; 
	position:absolute; 
	left:20px; 
	top:20px;
}

.filter-city {
	margin-left: 10px;
	padding-right: 10px;
}

.table-modal {
	width:39px;
	display: inline-table !important;
	
}

.detail-twitter {
	margin-left: 5px;
}

.shopper-profile {
	margin-left:56px !important;
}

.followers-button {
	margin-top: 8px;
	margin-bottom: 5px;
	margin-left: 31px !important;
}

.following-button {
	margin-left: 31px !important;
}

.profile-name {
	margin-left:0px !important;
}

.table-modaltwo {
	width:73px;
	display: inline-table !important;
	
}

.stores-page {
	padding-left: 226px;
	vertical-align:-10px;
}

.store-follow {
	padding-left: 226px;
	vertical-align:-10px;
}


.image-wrapper .sold-tag {
	background-image:url('https://s3.amazonaws.com/mst-images-shared/purplebar.png');
	display:inline-block;
	position: absolute;
	color:white;
	right:0px;
	top: 43px;
	left:160px	
}

.sold {
	color: white;
}

.city-state {
	font-weight: bold;
	line-height: 20px !important;
	display: block;
	width: 100%;
	margin: 0px;
	padding: 5px 0;
	bordr-radius: 4px 4px 0 0 !important;
	font-size: 15px;
	font-family: Helvetica, arial, sans-serif;
	letter-spacing: 1px;
	background-color:#432060 !important;
	color: white;
}

.store-name {
    vertical-align: sub;
    padding-top: 10px;
    line-height: 40px !important;
    background-color:transparent !important;
    font-size: 15px;
	font-family: Helvetica, arial, sans-serif;
	letter-spacing: 1px;
   
}
.hover-group .image-wrapper .hover-boggle {
  /* set it at the bottom of .image-wrapper */
  /* and don't display it */
  display: block;
  height: 38px;
  width: 100%;
  text-align:justify;
  margin:0px;
  border-radius:0 0 4px 4px;
}

.asfeatured {
	text-align:center;
	font-size:x-large;
	letter-spacing:2px;
	margin-top: 20px;
	
}

.hot-spot {
	margin:0 auto; 
	margin-left:80px !important;
}


.press-pass {
	margin: 30px auto;
}

.featurette-pics {
	padding:20px 10px 20px 20px;
	margin:0 auto;
}

.featurette-pics1 {
	padding:20px;
	margin-bottom:20px;
	margin-right: 20px;
}

.featurette-pics2 {
	padding:20px;
	margin-bottom:20px;
	margin-right: 20px;
}

.featurette-pics3 {
	padding:20px;
	margin-bottom:20px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .banner {
      margin-bottom: -29px;
    }

    .banner .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .banner .item {
      height: 400px;
    }
    .banner img {
      position: absolute;
      
      min-width: 940px;
      height: 400px;
	  margin:0 45px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 9px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }

	.hayes-phrase {
		text-align:center;
	}
	
	.marketing-template {
        margin: 30px 0;
      }

.order-status {
	color:#432060 !important;
}

.upload-image {
	margin-bottom: 10px;
}

.aboutus {
	text-align:center;
	margin:-267px 5px;
	position:absolute; 
	vertical-align:middle;
	height:316px; 
	width:710px; 
	display:block;

}

/* Set the fixed height of the footer here */
     
      #footer {
        margin-top: 20px;
		background-color: #432060;
		padding:35px;
		color:white;
	p { color:white !important;
	}
		
      }

#footer a {
	color:white !important;
}


.marketing-edit {
	margin: 60px 0;
	margin-bottom: 16px;
}

.center {
	text-align: center;
}

.view-sales {
	margin-left: 5px;
}

/* product details pages */

.product-detail-wrap {
	min-height: 500px;
	background:#fff;
	padding: 30px 0 30px 0;
}
 
.top30 {
	margin-top: 30px;
}

.bottom50 {
	margin-bottom: 50px;
}

#mc_wrap .product-imgs-box {
	width:496px;
	padding: 0;
    margin-top: 0;
}

#mc_wrap .more-views {
	margin:0 0 20px 0; 
}

#mc_wrap .more-views ul {
	margin:2 0 0 10px;
	padding:0;
}

#mc_wrap .more-views ul li {
	display: block;
	float: left;
	width: 69px;
	height: 69px;
	border: 1px solid #E3DFDF;
	margin:0 0 20px 20px; 
	padding-top: 0;
	list-style-type: none;
}

#mc_wrap .more-views ul li:hover {
	border: 1px solid #432060;
    background: none;
}

#mc_wrap .more-views ul li.active {
	border: 1px solid #979797;
    background: none;
}


#mc_wrap .more-views ul li a {
	display:block; 
	width:100%;
	height:100%; 
	cursor:pointer;
    border: none;
    margin: 0;
}

#mc_wrap .more-views ul li.active a,
#mc_wrap .more-views ul li a:hover {
    border: none;
}

.also-like {
	padding: 0 30px 0 30px;
}

.also-like h2, .also-like h3 {
	font-family: "proxima-nova-n6", "proxima-nova", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 14px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #E3DFDF; 
}

.also-like h3 {
	font-size: 11px;
	color: #666;
	border-bottom: none;
	margin:0 0 5px;
	padding: 0;
}

.also-like p {
	font-size: 14px;
}

#mc_wrap .product-shop {
	width: 439px;
	min-height: 875px;
	padding-left: 30px;
	border-left: 1px solid #E3DFDF;
    margin: 0;
}

#mc_wrap .product-shop .product-name {
	text-align: center;
    /* Style to override old declaration */
    padding: 0;
    border-bottom: none;
}

#mc_wrap .product-shop .product-name h2 {
	font-family: "proxima-nova-n6", "proxima-nova", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 3px;
	color: #000;
	font-weight: 600;
    /* Style to override old declaration */
    font: 600 24px "proxima-nova-n6", "proxima-nova", Helvetica, Arial, sans-serif;
    margin: 19px 0 10px;
}

#mc_wrap .product-shop .product-name h3 {
	margin:0 0 20px 0;
	font-style: italic;
	font-size: 14px;
	color: #666;
	font-weight: normal;
	line-height: 18px;
    /* Style to override old declaration */
    font: italic normal 14px/18px utopia-std, Times, 'Times New Roman', Georgia, serif;
    text-transform: none;
}

#mc_wrap .product-shop .product-name .price {
	color:#432060;
	font-size: 36px;
	margin: 0 0 5px 0;
	font-style: italic;
}

#mc_wrap .product-shop .sold-out .price {
	color: #979797;
}

#mc_wrap .product-shop .product-name .savings {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #828D9B;
	margin: 0 0 30px 0;
}

.sold-out .sold {
	font-family: "proxima-nova-n6", "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #DF5B42;
}

/* additional links and social sharing */

.additional-links {
	border-top: 1px solid #E3DFDF;
	border-bottom: 1px solid #E3DFDF;
	padding:18px 0 18px 0;
	margin-top:40px;
	text-align: center;
}

.additional-links ul {
	margin:0 auto 0 auto;
	padding:0 0 10px 0;
}

.additional-links ul li {
	display:inline;
	list-style-type: none;
	text-transform: uppercase;
	color: #B1B1B1;
	font-size: 11px;
	letter-spacing:1px;
	padding: 0 2px 0 2px;
}

.additional-links li img {
    vertical-align: inherit;
}

#mc_wrap .additional-links li {
    background: none;
}

/* Product */
.product-imgs-box               { position:relative; float:left; display:inline; padding-top:0; margin-top:43px; }
.grouped-product-title          { position:absolute; top:0; left:0; width:800px; margin:30px 0 0 30px; font:22px/30px trebuchet ms,sans-serif; color:#5e5e5e; font-weight:normal !important; }
.grouped-product-title strong   { font-weight:normal !important; font-size:26px; color:#232323; display:block; margin:0 0 7px 0; }
.product-image                  { margin:0 0 5px 0; }
.more-views                     { margin:0 0 15px 30px; }
.more-views ul li               { float:left; margin:0 1px 0 0; padding-top: 8px;}
.more-views ul li a             { display:block; width:75px; height:50px; border: 1px solid #CBCBCB; cursor:pointer; margin: 2px; }
.more-views ul li.active,
.more-views ul li:hover         { background: transparent url(/skin/frontend/portero/default/images/catalog/product/thumb-active.gif) top center no-repeat; }
.more-views ul li.active a,
.more-views ul li a:hover       { border: 3px solid #5FA9DE; margin: 0px; }
.small-image-act                { position:absolute; margin:2px 0 0 2px; display:none; background:url(/skin/frontend/portero/default/images/catalog/product/small-image-act.gif) 0 0 no-repeat; width:98px; height:68px; }
.more-views ul li.curr .small-image-act { display:block; }
.product-img-box                { width:475px; float:left; overflow: hidden;}

.product-shop                   { width:315px; float:left;  margin:43px 20px 0; padding:0; }
.product-shop .product-name     { margin:0; border-bottom:1px dotted #86A2B4; padding:0 0 20px 0; }
.product-shop .product-name h3  { font: bold 18px/18px Helvetica; margin: 0 0 10px; color: #000; text-transform: uppercase; }
.product-shop .product-name h2  { color: #444; font:bold 14px/16px Helvetica; margin:0 0 10px 0; }

.product-add-to                 { margin: 20px 0 15px; }
.product-add-to .col-1 .price   { font:bold 17px/33px Helvetica; color:#232323; }
.product-add-to .col-1,
.product-add-to .col-2          { width:49%; }
.product-add-to .col-2          { text-align:right !important; }
.additional-prices              { padding: 0 20px; }

.additional-prices dl           { clear:both; margin: 8px 0 0; font-weight: bold; font-size: 11px; line-height: 1; }
.additional-prices dt           { width:48%; color:#999899; float:left; }
.additional-prices dd           { width:48%; color:#6c6c6c; font-size:12px; float:right; text-align:right; }
.additional-prices dl.alert dd,
.additional-prices dl.alert dt  { color:#f85035 !important; }
.additional-prices dl.msrp dd,
.additional-prices dl.msrp dt   { color: #333; }
.additional-prices dl.msrp dd   { text-decoration: line-through; }
.additional-links               { margin:20px 0; padding: 15px 0; border-bottom:1px solid #86A2B4; border-top: 1px dotted #86A2B4; }
.additional-links li            { background: url(/skin/frontend/portero/default/images/bg_additional_links.gif) center left no-repeat; padding-left: 10px; }
.additional-links a             { color: #0f7ecd; font-weight: bold }


.product-summary                { margin-bottom: 20px; }
.product-summary li             { margin: 0 0 10px 1em; line-height: 1.2; list-style: disc; }
.product-summary .more          { margin-top: 10px; list-style: none; }
.product-summary .more a        { text-transform:lowercase; background: url(/skin/frontend/portero/default/images/catalog/product/more-arrow-bg.gif) right no-repeat; padding-right: 15px; }
.product-summary .more a:hover  { text-decoration: underline; }

.grouped-product-image          { border:7px solid #eeeced; float:left; margin:0 0 0 0; width:839px; height:386px; }
.grouped-product-image img      { border:0; }
.grouped-more-view              { width:102px; float:right; display:inline; margin:0 0 0 29px; padding:0 0 0 6px; overflow:hidden; }
.grouped-more-view ul li        { float:none; margin:0 0 6px 0; }

.catalog-product-view .top-white-block .blocks-content-wrapper { background: transparent url(/skin/frontend/portero/default/images/catalog/product/sidebar-light-bg.png) top right repeat-y; }

.product-sidebar                  { width:158px; /* background-color: #F2F2F2; */ float:right; margin: 43px 0 20px; color: #333; }
.product-sidebar dl               { padding: 15px; line-height: 1.6; }
.product-sidebar dl.customer-care { padding-top: 0; }
.product-sidebar dl.customer-care .call strong { font-size: 13px; line-height: 1.2; }
.product-sidebar dl.tools         { background: #C2D0D9 url(/skin/frontend/portero/default/images/catalog/product/sidebar-tools-bg.gif) 0 13px no-repeat; padding-bottom: 10px; }
.product-sidebar dl.actions       { background: #C2D0D9 url(/skin/frontend/portero/default/images/catalog/product/sidebar-actions-bg.gif) top center no-repeat; padding-top: 10px; }

.product-sidebar dl dt          { font-weight: bold; text-transform: uppercase; font-size: 13px; line-height: 1; padding-bottom: 5px; }
.product-sidebar dl dd          { font-size: 11px; }
.product-sidebar dl dd a        { text-decoration: underline; color: #0F7ECD; }
.product-sidebar dl dd a:hover  { text-decoration: underline; color: #382720; }

.bid-bg                         { background:url(/skin/frontend/portero/default/images/content/auction/bid-bg.jpg) 0 0 no-repeat; width:153px; height:26px; padding:6px 15px; }
.bid-bg li                      { float:left; }
.bid-bg li, .bid-bg input       { width:100px; font-weight:bold; font-size: 20px; line-height:20px; color:#b5b5b5; border:0; }
.bid-bg li.currency             { width:auto; padding-top:3px; }
.bidding                        { margin:20px 0 0 0; }
.bidding small                  { display:block; color:#b5b5b5; font-size:11px; line-height:12px; padding:2px 0 0 17px; }
.bidding .col-1, .bidding .col-2 { width:155px !important; padding:0 !important; overflow:hidden; }
.bid-buy-now                    { display:block; font-weight:bold; font-size:20px; line-height:35px; }
.bid-buy-now .price             { font-weight:bold !important; font-size:20px !important; line-height:35px !important; }
 
.tab-menu                       { background:#eeeced url(/skin/frontend/portero/default/images/content/tab-menu-bg.jpg) 100% 100% no-repeat; height:44px;  }
.tab-menu li                    { float:left; }
.tab-menu li a                  { display:block; width:125px; height:44px; text-indent:-2000em; margin-right:1px; /*border-right:1px solid transparent;*/ }
.tab-menu li a#tab_1            { background:url(/skin/frontend/portero/default/images/content/p_tabs/details.gif) 0 0 no-repeat; }
.tab-menu li a#tab_2            { background:url(/skin/frontend/portero/default/images/content/p_tabs/description.gif) 0 0 no-repeat; }
.tab-menu li a#tab_3            { background:url(/skin/frontend/portero/default/images/content/p_tabs/add-info.gif) 0 0 no-repeat; }
.tab-menu li a#tab_4            { background:url(/skin/frontend/portero/default/images/content/p_tabs/similar.gif) 0 0 no-repeat; }
.tab-menu li a#tab_5            { background:url(/skin/frontend/portero/default/images/content/p_tabs/brand.gif) 0 0 no-repeat; }