<script>
faved_src = "/assets/heart_16_16.png";
unfaved_src = "http://s3.amazonaws.com/mst-images-shared/heart_outline.png";

function fave(sale_id) {
  var faveField = $('#sale_fave_' + sale_id)[0];
  var faveIcon = $('#fave_icon_' + sale_id)[0];
  var faveID = parseInt(faveField.value);
  if (faveID > 0) {
    faveIcon.src = unfaved_src;
    $.post(('/faves/' + faveID), 
    {_method:'delete'}, 
    function(data) { 
      faveField.value = "";
    });
  } else {
    faveIcon.src = faved_src;
    $.post('/faves', {'sale_id': sale_id}, function(data) { 
      faveField.value = data['id'];
    });
  }
}


  yayo = null;

  var loading = false;
  var currentPage = 1;
  var lastPage = false;

  var more_base_url = "<%= request.path  %>.html";
  var more_base_data = {category_id: <%= params[:category_id].to_i %>};

  function addPage() {
    $.get(more_base_url, 
      $.extend(more_base_data, {page: currentPage+1}), 
      function(d){
        yayo = d;
        if (d.length == 0) {
          lastPage = true;
        } else {
          $('#sales-container').append(d);
          currentPage++;        
          loading = false;
        }
      });
  };

  $(window).scroll(function(){

    if (loading || lastPage) {
      return;
    }

    if  ($(window).scrollTop() > $(document).height() - $(window).height() - 200)
    {
      loading = true;

      setTimeout(function(){
        addPage();
      }, 250);
    }

  });

</script>



<div id="sales-container">
  <%= render :partial => "sales/sale_rows" %>
</div>
