<% 
@sale_rows = [[]]
@sales.each_with_index do |sale, i|
  if i>0 && i%3 == 0
    @sale_rows << []
  end
  @sale_rows.last << sale
end
%>

<div id="sales_page_<%= params[:page].to_i %>">
<% @sale_rows.each do |row| %>
  <div class="row-fluid">
    <div class="container">
      <ul class="thumbnails">
        <% row.each do |sale| %>
            <%= render :partial => "sales/sale_li", :locals => {:sale => sale} %>        
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>


<% @sales.each do |sale| %>
  <%= render :partial => "sales/sale_modal", :locals => {:sale => sale} %>
<% end %>
