<li class="col-md-4">
<div class="hover-group">
  <div class="image-wrapper">
    <span class="thisInfo">
      <p class="lanvin"><%= sale.brand %></p>      
    </span>
    <a href="<%= sale_url(sale.id) if sale.id %>">
      <img class="product-pic" src="<%= sale.image_0.versions[:web_index] %>" alt="">
    </a>
    <% if sale.sold_out %>    
    <span class="sold-tag sold">
      <center>ON LOAN</center>
    </span>
    <% end %>
    <span class="thisInfo">
    </span>
    <div class="hover-toggle">
      <span class="percentoff"></span>
    </div>
  </div>
</div>
</li>
