<style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>


<div class="container">
  <div class="marketing-template">

    <%= raw @page.content %>

    <hr class="featurette-divider">
    <div class="featurette-pics">
      <div class="hot-spot">
        <ul class="thumbnails">
          <li class="span3">
          <p class="hayes-phrase">From Hayes Valley</p></span><a href="#"><img class="product-pic img-polaroid" src="img/test_shoes.jpg" alt=""></a>

        </li>
        <li class="span3">
        <p class="hayes-phrase">From Hayes Valley</p></span><a href="#"><img class="product-pic img-polaroid" src="img/test_shoes.jpg" alt=""></a>

      </li>
      <li class="span3">
      <p class="hayes-phrase">From Hayes Valley</p></span><a href="#"><img class="product-pic img-polaroid" src="img/test_shoes.jpg" alt=""></a>

    </li>
  </ul>
</div>

          </div></div>
          <div class="container">
            <hr class="featurette-divider">



            <!-- /END THE FEATURETTES -->




          </div><!-- /.container -->

